<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div id="navbar">
        <a href="">Home</a>
        <a href="" style="text-align: right; float: right; overflow: hidden;">Login</a>
        <a href="" style="overflow: hidden; float: right;">Register</a>
    </div>
    <div id="container">
        {% block content %} {% endblock %}
    </div>
    <script src="index.js"></script>
</body>
</html>